@{
    ViewBag.Title = "Index";
    }
<h2>Images of Work</h2>

    <div id="content">

<span class="ajax-get" data-url="@Url.Action("topleft", "Work")">TAB1</span>
    &nbsp|&nbsp
<span class="ajax-get" data-url="@Url.Action("topright", "Work")">TAB2</span>
    &nbsp|&nbsp
<span class="ajax-get" data-url="@Url.Action("botleft", "Work")">TAB3</span>
    &nbsp|&nbsp
<span class="ajax-get" data-url="@Url.Action("botright", "Work")">TAB4</span>
</div>
