@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<storng> HERKUCHAAAAAAAAAA!!!!!!!11!21132JHFDF HUSA FN;VNAEIF SDH SFKHADS F  ASDKF ASF OF OYT S;ADF S SIJF SAKD; FKKKJ FJIEJ  TYLERR ANNIS FISNFMSDKFJTIS LFJERI A</storng>